{% extends "base_.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% block content %}
  <h2 style="display: none;">error number 403</h2>
  <div class="card text-center">
    <div class="card-header">
      403
    </div>
    <div class="card-body">
    <p class="card-text">{% trans "Can't find page" %}</p>
    <a href="{% url 'index' %}" class="btn btn-primary">{% trans 'To Home' %}</a>
  </div>
  </div>
{% endblock %}

{% block script %}

{% endblock %}
