{% extends 'base_.html' %}
{% load static %}
{% load i18n %}
{% load x_tags %}
{% load crispy_forms_tags %}
{% block content %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a href="{% url 'purchase:orders_list' %}">{% trans 'Purchase orders' %}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {% trans 'Edit order' %}
    </li>
  </ol>
</nav>
<div class="login">
  <form method="POST">
      {% csrf_token %}
      {{ form|crispy }}
      <div id="app">
        {% if error_message %}
        <div class="alert alert-danger" role="alert">
          <strong>{{ error_message }}</strong>
        </div>
        {% endif %}
        <hr>
        <span id="button" @click="AddItem">{% trans 'Add Item' %}</span>
        <p></p>
        <input type="hidden" name="items_count" :value="items_count">
        <div v-for="item_no in items_count">
          <div class="row">
            <div class="col-12">
              <select
                      :id="'id_' + item_no + 'item'"
                      :name="item_no + 'item'"
                      v-model="items_selects[item_no - 1]"
                      class="selectpicker form-control"
                      data-live-search="true"
                      data-style="btn-outline-primary" required>
                <option value="" disabled>
                  {% trans 'Select item' %}
                </option>
                <option
                      v-for="item in items"
                      :value="item.id"
                      :data-tokens="item.code + '-' + item.desciption">
                  {[{ item.code }]}-{[{ item.desciption }]}
                </option>
              </select>
              <p></p>
            </div>
            <div class="col-md-6">
              <input
                    type="number" :name="item_no + 'quantity'" min="1"
                    placeholder="{% trans 'Quantity'%}"
                    class="numberinput form-control"
                    v-model="quantities[item_no - 1]"
                    :id="'id_'+ item_no + 'quantity'" required>
              <p></p>
            </div>
            <div class="col-md-6">
              <input
                    type="number" :name="item_no + 'price'" min="0.01"
                    placeholder="{% trans 'Price'%}"
                    step="0.01"
                    class="numberinput form-control"
                    v-model="prices[item_no - 1]"
                    :id="'id_'+ item_no + 'price'" required>
              <p></p>
            </div>
            <div class="col-12">
              <input
                    type="text" :name="item_no + 'note'"
                    maxlength="128"
                    placeholder="{% trans 'Notes'%}"
                    class="textinput form-control"
                    v-model="notes[item_no - 1]">
              <p></p>
            </div>
          </div>
        </div>
        <span id="button" @click="RemoveItem" v-if="items_count > 1">
          {% trans 'Remove Item'%}
        </span>
        <hr>
      </div>
      <div class="text-right">
        {% if next %}
          <a href="{{ next }}" class="btn btn-secondary">
            {% trans 'Cancel' %}
          </a>
        {% else %}
          <a href="{% url 'purchase:order_details' pk=purchaseorder.id %}" class="btn btn-secondary">
            {% trans 'Cancel' %}
          </a>
        {% endif %}
        <input class="btn btn-secondary" type="submit" value="{% trans 'Save' %}">
      </div>
    </form>
</div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  new Vue ({
      el: '#app',
      data: {
        items_count: {% if items_count %} {{ items_count }} {% else %} 1 {% endif %},
        items: {% if items %} {{ items|safe }} {% else %} "" {% endif %},
        items_data: {% if items_data %} {{ items_data|safe }} {% else %} "" {% endif %},
        quantities:[],
        prices:[],
        items_selects: [],
        notes:[],
      },
      methods: {
        AddItem() {
          this.items_count++
        },
        RemoveItem() {
          this.items_count--
        },
      },
      created() {
        if (this.items_data){
          for (var i = 0; i < this.items_data.length; i++){
            this.items_selects[i] = this.items_data[i].value
            this.quantities[i] = this.items_data[i].quantity
            this.prices[i] = this.items_data[i].price
            this.notes[i] = this.items_data[i].note
          }
        }
      },
      updated(){
        this.$nextTick(function(){
          $('.selectpicker').selectpicker('refresh')
        })
    	},
      delimiters: ['{[{', '}]}'],
  })
</script>
{% endblock %}
